[submodule "front-end/lib/codemirror"]
	path = front-end/lib/codemirror
	url = git://github.com/marijnh/CodeMirror.git
[submodule "parser/DBIx-MyParse-0.88"]
	path = parser/DBIx-MyParse-0.88
	url = https://github.com/ducksmanager/DBIx-MyParse.git
[submodule "front-end/lib/Object.identical.js"]
	path = front-end/lib/Object.identical.js
	url = https://github.com/prettycode/Object.identical.js.git
[submodule "front-end/lib/d3.v3"]
	path = front-end/lib/d3.v3
	url = https://github.com/mbostock/d3.git
[submodule "front-end/test/qunit"]
	path = front-end/test/qunit
	url = https://github.com/jquery/qunit
[submodule "front-end/test/qunit-reporter-junit"]
	path = front-end/test/qunit-reporter-junit
	url = https://github.com/jquery/qunit-reporter-junit
