[submodule "front-end/lib/codemirror"]
	path = front-end/lib/codemirror
	url = git://github.com/marijnh/CodeMirror.git
[submodule "front-end/lib/d3"]
	path = front-end/lib/d3
	url = git://github.com/mbostock/d3.git
