body {
	margin: 0;
	font-family: Verdana;
	font-size: 12px;
	line-height: 17px;
}

.invisible {
	display: none;
}

div#mysql_version {
	width: 100%;
    position: absolute;
	padding-left: 50%;
}

div#mysql_version span {
	background: #eee;
}

div#panel {
	width: 400px;
	position: fixed;
	top: 10px;
	right: 10px;
	bottom: 10px;
	overflow-y: auto;
}

div#panel textarea#log {
	height: 100px;
	font-family: Courier;
}

.CodeMirror {
	border: 1px solid gray;
	padding: 2px;
}

.CodeMirror.error {
	border: 1px solid red;
}

div#panel textarea#log, .CodeMirror {
	width: 97%;
	margin: 0em;
	background-color: white;
}

pre#query {
	white-space: normal;
}

.samplequery {
	display: none;
}

#collision {
	color: red;
}

svg#graph {
	margin: 8px 300px 0px 8px;
	outline:1px solid gray;
}

rect.subquery {
	stroke: #ccc;
	fill: none;	
}

marker#arrow polyline {
	stroke: black;
	fill: white;
}

marker.solidlink {
	fill: gray;
	opacity: 0.9;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

circle.filtered {
	stroke: red;
	stroke-width: 3px;
}

circle.sort {
	background:url("images/sort.svg") no-repeat;		
}

rect.table {
  fill: #fff;
  stroke: #333;
  stroke-width: 1.5px;
}

rect.alias {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

ellipse.function {
  fill: #fff;
  stroke: #333;
  stroke-width: 1.5px;	
}

ellipse.function.conditional {
	stroke: green;
}

text {
  font: 12px Courier;
  pointer-events: none;
}

text.output {
  font-weight: bold;
  font-style: italic;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}

#error_texts {
	display: none;
}