body {
	margin: 0;
}

.invisible {
	display: none;
}

div#panel {
	width: 400px;
	position: fixed;
	top: 10px;
	right: 10px;
	bottom: 10px;
}

div#panel textarea#log {
	height: 100px;
	font-family: Courier;
}

.CodeMirror {
	border: 1px solid gray;
	padding: 2px;
}

div#panel textarea#log, .CodeMirror {
	width: 100%;
	margin: 0.2em;
	background-color: white;
}

pre#query {
	white-space: normal;
}

.samplequery {
	display: none;
}

svg#graph {
	margin: 8px 300px 0px 8px;
	outline:1px solid gray;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

circle.filtered {
	stroke: red;
	stroke-width: 3px;
}

circle.sort {
	background:url("images/sort.svg") no-repeat;		
}

rect.table {
  fill: #fff;
  stroke: #333;
  stroke-width: 1.5px;
}

rect.alias {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 12px Courier;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}