*
{
    margin:0;padding:0;
}
html,body
{
    height:100%;
    width:100%;
}

body {
	margin: 0;
	font-family: Verdana,serif;
	font-size: 12px;
	line-height: 17px;
    display:table;
}

.invisible {
	display: none !important;
}

.no-padding {
    padding: 0;
}

div#header {
	width: 100%;
	height: 30px;
    text-align: center;
	border-bottom: 1px solid gray;
}

div#main {
    height:100%;
}

div#sidebar div#panel {
    margin-top: 10px;
	overflow-y: auto;
	z-index: 2;
}

div#sidebar div#log {
    overflow-y: auto;
    border:1px dotted gray;
    color: #444;
    padding: 5px;
}

div#sidebar div#log div {
    padding-left: 20px;
}

div#sidebar div#log .Error {
    background: transparent url("../images/error.png") no-repeat;
}

div#sidebar div#log .Warning {
    background: transparent url("../images/warning.png") no-repeat;
}

div#sidebar div#log .Info {
    background: transparent url("../images/info.png") no-repeat;
}

.CodeMirror {
	border: 1px solid gray;
	padding: 2px;
}

.CodeMirror.error {
	border: 1px solid red;
}

div#panel div#log, #query_sample, #actions {
	width: 100%;
}

div#panel div#log, .CodeMirror {
	margin: 0;
	background-color: white;
}

#OK {
    float: left;
	margin: 4px 0;
	padding: 2px;
}

#create_link {
	margin: 3px 0;
	padding: 1px 0 0 0;
}

#create_link input, #create_link a {
	padding: 3px;
}

#create_link a {
	float: right;
}

#create_link input {
	width: 100%;
	border: 1px solid gray;
}

#no-parser {
    display: block;
    clear: both;
    color: red;
}

#collision {
	color: red;
}

svg#graph {
    width: 99%;
	height: 99%;
}

#legend .title {
    font-size: 18px;
    font-weight: bold;
    fill: white;
}

#legend .whiteBackground {
    stroke: black;
    fill: white;
}

.subquery {
    stroke: black;
    fill: white;
}

marker#arrow polyline,
marker#arrow_to_function polyline{
	stroke: black;
	fill: white;
}

marker.solidlink {
	fill: gray;
	opacity: 0.9;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

path.width2 {
    stroke-width: 3px;
    stroke: white;
    marker-end: none;
}

path.width3 {
    stroke-width: 4.5px;
    marker-end: none;
}

circle.filtered {
	stroke: red;
	stroke-width: 3px;
}

rect.table,
rect.options,
rect.limits {
  fill: #fff;
  stroke: #333;
  stroke-width: 1.5px;
}

rect.alias {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

.tableSeparator {
    stroke: black;
}

.tableGroup.output rect.table,
.tableGroup.output rect.alias {
    stroke: #22f;
}

.tableGroup.output .table,
.tableGroup.output .alias,
.tableGroup.output .tableSeparator {
    stroke-width: 3px;
}

ellipse.function {
  fill: #fff;
  stroke: #333;
  stroke-width: 1.5px;	
}

ellipse.function.conditional {
	stroke: green;
}

rect.constant {
    fill: #fff;
    stroke: #333;
}

.infoboxText {
    opacity: 0;
}

.infoboxText.options {
    cursor: help;
}

text {
  font: 12px Courier;
  pointer-events: none;
}

text.outputname {
  font-size: 14px;
  font-weight: bold;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}

circle.chargeForce {
    stroke: red;
    fill: none;
}

@media (min-width: 992px) {

    #sidebar #log-container {
        clear: both;
    }

    #sidebar #log-container #log {
        height: 100px;
    }
}

@media (max-width: 992px) {
    #sidebar .CodeMirror-scroll {
        height: 200px;
    }

    #sidebar #log-container {
        margin-top: 64px;
    }

    #sidebar #log-container #log {
        height: 200px;
    }
}
