body {
    padding-top: 50px;
    overflow: hidden;
}

.navbar-header {
    position: absolute;
}

.navbar-collapse {
    display: block !important;
    text-align: center;
}

.navbar-collapse .nav.navbar-nav.pull-center {
    float: none;
    display: inline-block;
    margin: 16px;
}

.navbar-collapse .nav.navbar-nav.pull-right {
    margin: 0;
}

#wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
}

#main-wrapper {
    height: 100%;
    overflow-y: auto;
    padding: 50px 0 0 0;
}

#main {
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding: 0 15px 0 0;
}

#sidebar-wrapper {
    height: 100%;
    padding: 50px 0 0 0;
    border-left: 1px solid gray;
}

#sidebar {
    position: relative;
    height: 100%;
    overflow-y: auto;
}

@media (min-width: 992px) {
    #main-wrapper {
        float:right;
    }
}

@media (max-width: 992px) {
    body {
        padding-top: 0;
    }

    #main-wrapper {
        padding-top: 0;
    }

    #wrapper .pull-right {
        float: none !important;
    }

    #sidebar-wrapper {
        position: static;
        height: auto;
        border-right:0;
        border-bottom: 1px solid gray;
    }
}
